* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000813;
}

:root {
    --one: #001C30;
    --two: #176B87;
    --three: #64CCC5;
    --four: #DAFFFB;
    --oren: #d7a464;
}

/* navbar */
/* navbar kiri */
.navbar {
    display: flex;
    /* background-color: #021631; */
    padding: 17px 5%;
    color: white;
    box-shadow: 1px 1px 15px rgba(0, 204, 250, 0.3);
}

.navbar .navbarKiri {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
}

.navbar .navbarKiri img {
    width: 90px;
}

.navbar .navbarKiri p {
    margin-top: 13px;
    text-shadow: 1px 1px 2px #07d2ff5c;
}

/* navbarKanan */

.navbarKanan a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: 15px;
    cursor: pointer;
}

/* .navbarKanan a:nth-child(5) {
    border: 1px solid white;
    padding: 5px;
    border-radius: 10%;
} */

.navbarKanan a:hover {
    color: var(--oren);
}

/* homepage */
.homepage {
    display: flex;
    padding: 50px 10%;
    color: white;
}

.homepage .gambarfti {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage .gambarfti img {
    width: 35rem;
}

.homepage .gambarfti .garis {
    width: 1px;
    height: 100px;
    background-color: white;
    margin: auto;
}

/* bagian tulisan unand dan teknik komputer */
.homepage .tulisan {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    vertical-align: auto;
    /* border: 2px solid white; */
    max-width: 45%;

}

.homepage .tulisan .tulisan1 {
    font-size: 1.1rem;
    font-weight: 700;
}

.homepage .tulisan .tulisan2 {
    font-size: 2.8rem;
    font-weight: 800;
    text-shadow: 1px 1px 15px #07d2ff5c;
}

.homepage .tulisan .tulisan2 span {
    color: rgb(255, 237, 100);
}

.homepage .tulisan .tombol {
    display: flex;
    justify-content: space-between;
}

.homepage .tulisan .tombol a:nth-child(1) {
    background-color: #a2651b;
    padding: 15px;
    color: var(--one);
    font-weight: 600;
    border-radius: 30px;
    display: inline-block;
    text-decoration: inherit;
}

.homepage .tulisan .tombol a:nth-child(1):hover {
    display: inline-block;
    background-color: var(--one);
    color: white;
    box-shadow: 1px 1px 15px #07d2ff5c;
}

.homepage .tulisan .tombol a:nth-child(2) {
    color: #a2651b;
    padding: 15px;
    background-color: var(--one);
    font-weight: 600;
    border-radius: 30px;
    display: inline-block;
    text-decoration: inherit;
}

.homepage .tulisan .tombol a:nth-child(2):hover {
    display: inline-block;
    background-color: #a2651b;
    color: var(--one);
    box-shadow: 1px 1px 15px #07d2ff5c;
}