* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: #000813;
    color: white;
    text-align: center;
  }
  
  :root {
    --one: #001c30;
    --two: #176b87;
    --three: #64ccc5;
    --four: #dafffb;
    --oren: #d7a464;
  }
  
  h1 {
    text-align: center;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.15);
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
  }
  
  /* navbar */
  /* navbar kiri */
  .navbar {
    display: flex;
    /* background-color: #021631; */
    padding: 17px 5%;
    color: white;
    box-shadow: 1px 1px 15px rgba(0, 204, 250, 0.3);
  }
  
  .navbar .navbarKiri {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .navbar .navbarKiri img {
    width: 90px;
  }
  
  .navbar .navbarKiri p {
    margin-top: 13px;
    text-shadow: 1px 1px 2px #07d2ff5c;
  }
  
  /* navbarKanan */
  
  .navbarKanan a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: 15px;
    cursor: pointer;
  }
  
  /* .navbarKanan a:nth-child(5) {
      border: 1px solid white;
      padding: 5px;
      border-radius: 10%;
  } */
  
  form ul li {
    list-style: none;
  }
  
  form ul li input {
    background-color: #176b87;
    border-radius: 10px;
    width: 300px;
  }
  
  form ul li label {
    text-align: center;
    font-size: 15px;
  }
  
  .navbarKanan a:hover {
    color: var(--oren);
  }
  
  /* homepage */
  .homepage {
    display: flex;
    padding: 50px 10%;
    color: white;
  }
  
  .homepage .gambarfti {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .homepage .gambarfti img {
    width: 35rem;
  }
  
  .homepage .gambarfti .garis {
    width: 1px;
    height: 100px;
    background-color: white;
    margin: auto;
  }
  
  /* tabel */
  table,
  th,
  td {
    border: 1px solid #000813;
    border-collapse: separate;
  }
  th,
  td {
    background-color: #063e58;
    padding: 10px;
  }
  
  .container {
    /* border: 1px solid white; */
    margin-top: 40px;
  }
  
  .container table {
    margin: auto;
  }
  
  .container .tambahCari {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
    padding-bottom: 30px;
  }
  
  .container .tambahCari a {
    text-decoration: none;
    padding: 10px;
    background-color: #a2651b;
    color: white;
    border-radius: 20px;
  }
  
  .container .tambahCari form input {
    padding: 5px;
    background-color: #9eccd6;
  }
  
  .container .tambahCari form button {
    padding: 5px;
    color: white;
    background-color: #07d2ff5c;
  }
  
  /* tombol tambah dan hapus */
  
  .container table tr td .ubah {
    background-color: #036d2d;
    padding: 5px;
    text-decoration: none;
    border-radius: 12px;
    color: white;
  }
  
  .container table tr td .hapus {
    background-color: #6d0303;
    padding: 5px;
    text-decoration: none;
    border-radius: 12px;
    color: white;
  }
  
  .btn-1,
  .btn-1 *,
  .btn-1 :after,
  .btn-1 :before,
  .btn-1:after,
  .btn-1:before {
    border: 0 solid;
    box-sizing: border-box;
  }
  .btn-1 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 600;
    line-height: 0.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
  }
  .btn-1:disabled {
    cursor: default;
  }
  .btn-1:-moz-focusring {
    outline: auto;
  }
  .btn-1 svg {
    display: block;
    vertical-align: middle;
  }
  .btn-1 [hidden] {
    display: none;
  }
  .btn-1 {
    border-radius: 99rem;
    border-width: 2px;
    padding: 0.8rem 3rem;
  }
  .btn-1:hover {
    color: #999;
  }